:root {
  font-family: "Manrope", system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #f7ead2;
  color: #2a241b;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
}

body {
  margin: 0;
}

#root {
  min-height: 100vh;
}